# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Build artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.app
*.dmg

# Dependencies
Pods/
Carthage/

# Temporary
/tmp/
